<div class="flex items-center justify-between mt-3">
  <p class="text-[#545968] text-sm font-semibold">Showing 291 tasks</p>
  <div>
    <div class="flex items-center gap-1">
      <p class="mt-1 text-xs">Sort by</p>
      <select
        class="w-20 h-6 text-sm font-semibold outline-none cursor-pointer"
      >
        <option class="hidden">Size</option>
        <option>Date</option>
        <option>Time</option>
        <option>Length</option>
        <option>None</option>
      </select>
    </div>
  </div>
</div>
<div class="gap-6 md:flex md:justify-center md:flex-wrap">
  <app-product-item *ngFor="let item of 10 | enumerate"></app-product-item>
</div>