<div class="flex mt-3 justify-between items-center">
  <p class="text-[#545968] text-sm font-semibold">Showing 291 tasks</p>
  <div>
    <div class="flex items-center gap-1">
      <p class="text-xs mt-1">Sort by</p>
      <select
        class="outline-none cursor-pointer h-6 w-20 text-sm font-semibold"
      >
        <option class="hidden">Size</option>
        <option>Date</option>
        <option>Time</option>
        <option>Length</option>
        <option>None</option>
      </select>
    </div>
  </div>
</div>
<app-product-item></app-product-item>
