<div class="w-full p-3 mt-5 bg-white border rounded-lg h-84 md:w-80">
  <div class="flex items-center gap-1">
    <p class="text-sm font-semibold ">$98.00</p>
  </div>
  <p class="mt-1 font-serif text-lg italic font-bold text-pink-500 transition-all cursor-default an hover:text-blue-700">
    LACOSTE
    Men's Regular Fit Fresh Semi Fancy Polo Shirt
  </p>
  <button
    class="flex items-center justify-center w-24 h-8 mt-2 font-serif text-sm italic font-bold transition-all bg-pink-200 rounded-full cursor-pointer hover:text-white"
    >
    <i class="pi pi-cart-plus"></i>
    <span class="pl-2">Buy</span>
    </button
  >
  <ul class="mt-3 text-sm">
    <span class="font-serif italic font-bold text-pink-500 cursor-default animate-pulse "><u>Promotions</u></span>
    <li class="pt-3 font-sans italic font-semibold cursor-default">2 pcs- 5% with offer $186.2 instead of <del>$196</del></li>
    <li class="font-sans italic font-semibold cursor-default">6 pcs - 9% with offer $535.08 instead of <del>$588</del></li>
    <li class="font-sans italic font-semibold cursor-default">10 pcs - 20% with offer $784 instead of <del>$980</del></li>
  </ul>
</div>
