<div class="md:flex md:justify-center md:flex-wrap gap-6">
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
  <div class="w-full h-84 p-3 border bg-white mt-5 rounded-lg md:w-80">
    <div class="flex items-center gap-1">
      <img src="https://imgur.com/paKJ7DO.png" width="30px" />
      <p class="text-pink-500 font-semibold text-sm">2 Credits</p>
    </div>
    <p class="text-lg font-semibold mt-1">
      Increase confidence with TrustPilot reviews
    </p>
    <span
      class="h-8 mt-2 w-24 cursor-pointer font-semibold transition-all hover:text-blue-700 bg-pink-200 flex justify-center items-center text-sm rounded-full"
      >Integrations</span
    >
    <p class="text-sm mt-3 text-pink-500">
      Some Kind of short description can go here to better explain the
      recommended task.
    </p>
    <div class="flex justify-between items-center mt-6">
      <div class="flex items-center gap-2">
        <i class="cursor-pointer text-pink-400 fa fa-calendar-o"></i>
        <p class="text-pink-400 font-semibold text-sm">2 Days</p>
      </div>
      <div class="flex cursor-pointer">
        <span class="h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 border-2 h-9 w-9 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span class="-ml-3 h-9 w-9 border-2 rounded-full flex border-white"
          ><img
            class="rounded-full object-cover"
            src="https://imgur.com/s1Y39Um.png"
            height="100%"
            width="100%"
        /></span>
        <span
          class="h-9 w-9 justify-center items-center rounded-full flex border text-orange-500 font-semibold"
          >16</span
        >
      </div>
    </div>
  </div>
</div>
