<article class="py-4 mx-4">
  <a
    class="flex"
    href="/redmi-9a-6.53-2go-32go-13mp5mp-android-bleu-xiaomi-mpg960704.html"
    ><div class="relative rounded-[0.25rem]">
      <img
        data-src="https://ma.jumia.is/unsafe/fit-in/150x150/filters:fill(white)/product/59/935034/1.jpg?2771"
        src="https://ma.jumia.is/unsafe/fit-in/150x150/filters:fill(white)/product/59/935034/1.jpg?2771"
        class="img"
        width="72"
        height="72"
        alt=""
      />
    </div>
    <div class="w-full px-4">
      <h3
        class="text-[1rem] overflow-ellipsis whitespace-normal overflow-hidden"
      >
        XIAOMI Redmi 9A 6.53" (2Go, 32Go) 13MP/5MP Android - Bleu - 1 an de
        garantie
      </h3>
      <p class="inline-flex pt-1">
        <span class="mr-1 text-[#75757a]">Vendeur:</span>Jumia
      </p>
      <p class="flex items-center text-[.75rem] pt-1 text-[#af7d15]">
        Quelques articles restants
      </p>
      <div class="items-center">
        <svg
          aria-label="Livraison rapide"
          viewBox="0 0 114 12"
          class="ic xprss"
          width="113"
          height="12"
        >
          <use
            xlink:href="https://www.jumia.ma/assets_he/images/i-shop-jumia.85ab1fc3.svg#express"
          ></use>
        </svg>
        <p class="text-[#75757a] mt-1">Éligible à la livraison gratuite</p>
      </div>
    </div>
    <div class="min-w-[30%] w-[30%]">
      <div class="text-[1.25rem] text-right font-medium">1,149.00 Dhs</div>
      <div class="flex items-center justify-end pt-1">
        <div class="text-[1rem] line-through text-[#75757a]">1,250.00 Dhs</div>
        <div class="no-underline ml-2 text-[#f68b1e] bg-[#feefde]">8%</div>
      </div>
    </div></a
  >
  <footer class="flex items-center pt-2">
    <button nz-button nzType="primary">Supprimer</button>
    <form
      method="post"
      action="/cart/products/XI737MP0ZOM62NAFAMZ-40572150/quantity/"
      data-var=""
      class="relative flex items-center ml-auto"
      data-add-cart="items"
      data-sku="XI737MP0ZOM62NAFAMZ"
      data-svar="XI737MP0ZOM62NAFAMZ-40572150"
      data-id="XI737MP0ZOM62NAFAMZ"
      data-name='Redmi 9A 6.53" (2Go, 32Go) 13MP/5MP Android - Bleu - 1 an de garantie'
      data-price="103.09"
      data-brand="XIAOMI"
      data-category="Phones &amp; Tablets/Mobile Phones/Smartphones/Android Phones"
      data-dimension23=""
      data-dimension26=""
      data-dimension27=""
      data-dimension28="1"
      data-dimension37="0"
      data-dimension43="BF22|CP_MT41|CP_MT87|Camp_60|FDYJE|JA22_2|JA22_21|JLY|JLY4|JLY6|JMALL|UNDA_30"
      data-dimension44="0"
      data-simplesku="XI737MP0ZOM62NAFAMZ-40572150"
      data-variant=""
      data-track-onsubmit="addToCart"
    >
      <button
        type="button"
        class="relative inline-flex flex-shrink-0 overflow-hidden text-white btn _prim -paxs"
        aria-label="diminuer la quantité panier"
        disabled=""
        data-submit=""
        name="action"
        value="de"
      >
        <svg viewBox="0 0 24 24" class="ic" width="24" height="24">
          <use
            xlink:href="https://www.jumia.ma/assets_he/images/i-icons.9b07bfc5.svg#remove"
          ></use>
        </svg></button
      ><span class="-w-32 -mas -m -fs14 -tac -lh-1">1</span
      ><button nz-button nzType="primary"><span nz-icon nzType="appstore-add" nzTheme="outline"></span></button><input
        name="csrfToken"
        value="84edc8d411a9f53d420267c94b914409"
        type="hidden"
      />
    </form>
  </footer>
</article>
